@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "tailwindcss/preflight";

@tailwind utilities;

@import "tailwindcss";

@font-face {
  font-family: "Apex Mk2";
  src: url("/fonts/apex.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@theme {
  --font-apex: "Apex Mk2", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-oxanium: "Oxanium", sans-serif;
}
